name: bld-ci

on: [ push, pull_request, workflow_dispatch ]

env:
  AKISMET_API_KEY: ${{ secrets.AKISMET_API_KEY }}
  AKISMET_BLOG: ${{ secrets.AKISMET_BLOG }}
  COVERAGE_JDK: 24
  COVERAGE_OS: "ubuntu-latest"
  KOTLIN_VERSION: "2.2.0"

jobs:
  build-bld-project:
    strategy:
      matrix:
        java-version: [ 17, 21, 24 ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK ${{ matrix.java-version }} with Kotlin ${{ matrix.kotlin-version }}
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: ${{ matrix.java-version }}

      - name: Setup Kotlin ${{ env.KOTLIN_VERSION }}
        uses: fwilhe2/setup-kotlin@main
        with:
          version: ${{ env.KOTLIN_VERSION }}

      - name: Download dependencies
        run: ./bld download

      - name: Compile source
        run: ./bld compile

      - name: Run tests
        run: ./bld jacoco

      - name: Remove pom.xml
        if: success() && matrix.java-version == env.COVERAGE_JDK && matrix.os == env.COVERAGE_OS
        run: rm -rf pom.xml

      - name: SonarCloud Scan
        if: success() && matrix.java-version == env.COVERAGE_JDK && matrix.os == env.COVERAGE_OS
        uses: SonarSource/sonarqube-scan-action@v5.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
